#top {
  display: flex;
  margin-right: 0;
  justify-content: space-between;

  #top-container {
    width: 50%;
    @media screen and (max-width:1023px) {
       
        width: 80%;
        margin:0 auto;
        
    }
    h1 {
      font-size: 60px;
      line-height: 4.5rem;
      margin-bottom: 0;
      color: var(--very-dark-blue);
      @media screen and (max-width:1023px) {
        font-size:40px;
        line-height: 40px;
        margin-bottom: 2rem;
        
    }
    }

    p {
      width: 70%;
      margin: 0;
      color: var(--grayish-violet);
      font-size: var(--font-size);
    }

    #get-started {
      margin: 6rem 0;
      padding: 0.75rem 2rem;
      font-size: var(--font-size);
      font-weight: bold;
    }

    @media screen and (max-width: 1023px) {
      align-items: center;
      justify-content: center;
      text-align: center;
      p {
        width: 100%;
      }

      #get-started {
        margin: 2rem;
      }
    }
  }

  #top-img {
    
    margin-bottom: 3rem;
    overflow: hidden;
    text-align: center;
    img{width: 100%;
      @media screen and (max-width:767px) {
        width: 90%;
        
      
    }}
    
    
  }

  @media screen and (max-width: 1023px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
  }
}
