:root {
    /* Primary */
    --cyan: rgb(42, 207, 207);
    --dark: hsl(257, 27%, 26%);

    /* Secondary */
    --red: hsl(0, 87%, 67%);

    /* Neutral */

    --gray: #bfbfbf;
    --grayish-violet: rgb(158, 154, 167);
    --very-dark-blue: #35323e;
    --very-dark-violet: hsl(260, 8%, 14%);
    --second-gray:#F0F1F6;
}