@import url(./consts/colors.scss);
@import url(./consts/fonts.scss);

.App {
  font-family: var(--font-family);

  display: flex;
  flex-direction: column;

  
}

#header,
#top,
#shorter,
#statistic
{
  margin: 0rem 4rem;
}

#footer {
  padding: 0rem 4rem;
}